body {
    background-color: #000; /* Cambia el color de fondo a negro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#logo {
    max-width: 200px; /* Define el ancho máximo del logo */
    animation: spin 2s linear infinite; /* Agrega la animación de rotación */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}